<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat-Bot</title>
    <link rel="stylesheet" href="/home.css">
</head>
<body>

    <div class="container">
        <div id="messages"></div>
        <div id="resumeLink"></div> 
        <div id="options"></div>
        <div id="resumeUploadSection" style="display: none; margin-top: 10px;">
            <label for="resumeInput" class="resume-label">Upload your resume (PDF only):</label>
            <input type="file" id="resumeInput" accept=".pdf" />
            <p id="fileName" style="font-size: 14px; color: #333; margin-top: 5px;">No file chosen</p>
        </div>
         <div class="input-area">
            <input type="text" id="inputMessage" placeholder="Type a message" />
            <button id="send_btn">Send</button>
        </div>
      

    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/client.js" defer></script>
</body>
</html>